---
layout: page
title: Newsletter
collection: newsletters
---

{% include JB/setup %}

<p>I write because it helps me reflect on my journey and keeps me as a perpetual learner.</p>

{% include subscribe.html %}

<h2>Past Issues</h2>

<div class="archive">
  {% assign sorted = site.newsletters | sort: 'date' | reverse %}
  {% for letter in sorted %}
    {% capture this_year %}{{ letter.date | date: "%Y" }}{% endcapture %}
    {% capture this_month %}{{ letter.date | date: "%B" }}{% endcapture %}
    {% capture next_year %}{{ letter.previous.date | date: "%Y" }}{% endcapture %}
    {% capture next_month %}{{ letter.previous.date | date: "%B" }}{% endcapture %}
  
    {% if forloop.first %}
      <h2 class="year">{{this_year}}</h2>
      <ul class="posts">
    {% endif %}
  
    <li>
      <div class="post-date">
        <p>
          {{ letter.date | date: "%b" }}
          <span>{{ letter.date | date: "%d" }}</span>
        </p>
      </div>
      <div class="post-info">
        <p>
          <a href="{{ BASE_PATH }}{{ letter.url }}">{{ letter.title }}</a>
        </p>
      </div>

    </li>
  
    {% if forloop.last %}
      </ul>
    {% else %}
      {% if this_year != next_year %}
        </ul>
        <h2 class="year">{{next_year}}</h2>
        <ul class="posts">
      {% else %}    
        {% if this_month != next_month %}
          </ul>
          <ul class="posts">
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>

{% assign sorted = nil %}