---
layout: page
title: Newsletter
collection: newsletters
---

{% include JB/setup %}

<p>I write because sharing knowledge is the best way to live a rich life.</p>

{% include subscribe.html %}

<h2>Past Issues</h2>
<br>

<div class="archive">
  {% assign sorted = site.newsletters | sort: 'date' | reverse %}
  {% for letter in sorted %}
      <div class="post-info">
        <h4 class="title">
          <a href="{{ BASE_PATH }}{{ letter.url }}">{{ letter.title }}</a>
        </h4>
        <hr>
      </div>
  {% endfor %}
</div>

{% assign sorted = nil %}