<footer>
  <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}. All rights reserved.</p>

  <a href="https://twitter.com/kevon69" target="_blank"><img class="social-icon" src="/assets/images/social/twitter.png" alt="Twitter"></a>
  <a href="http://hk.linkedin.com/in/kevoncheung/" target="_blank"><img class="social-icon linkedin" src="/assets/images/social/linkedin.png" alt="LinkedIn"></a>
  <a href="https://www.instagram.com/kevon/" target="_blank"><img class="social-icon" src="/assets/images/social/instagram.png" alt="Instagram"></a>
</footer>