<div class="navi">
	<a href="{{ HOME_PATH }}">
	  <img src="{{ ASSET_PATH }}/images/kevon-2019.jpg" alt="Kevon Cheung" class="avatar">
	</a>

	{% if page.title %}
	<a href="{{ HOME_PATH }}">
		<h4 class="site-name"><strong>Kevon Cheung</strong></h4>
	</a>
	{% else %}
	<a href="{{ HOME_PATH }}">
		<h1 class="site-name"><strong>Kevon Cheung</strong></h1>
	</a>
	{% endif %}

	<h5 class="description">I write a newsletter about startup, product & growth marketing, and modern parenting. 🥦</h5>

	<div class="sidebar-subscription">
		<p>If you enjoy reading,</p>
		<script async data-uid="e610788a6b" src="https://kevon.ck.page/e610788a6b/index.js"></script>
	</div>

	<ul class="navigation">
<!-- 	  <li>{% assign pages_list = site.pages %}</li>
	  <li>{% assign group = 'navigation' %}</li>
	  <li>{% include JB/pages_list %}</li> -->
		<li><a href="/about">Hey, Kevon</a></li>
		<li><a href="/blog">Articles</a></li>
		<li><a href="/newsletters">Newsletter</a></li>
		<li><a href="/speaking">Speaking</a></li>
		<li><a href="https://twitter.com/kevon69" target="_blank">Twitter</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
</div>

<nav role="navigation" id="mobileNav">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />
    
    <!--
    Some spans to act as a hamburger.
    
    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <span></span>
    <span></span>
    <span></span>
    
    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu">
			<a href="/about"><li>Hey, Kevon</li></a>
			<a href="/blog"><li>Articles</li></a>
			<a href="/newsletters"><li>Newsletter</li></a>
			<a href="/speaking"><li>Speaking</li></a>
			<a href="https://twitter.com/kevon69"><li>Twitter</li></a>
			<a href="/contact"><li>Contact</li></a>
	    <a href="/newsletters" class="subscribe"><li>Join My Newsletter if You Enjoy Reading</li></a>
    </ul>

  </div>

	<a href="{{ HOME_PATH }}">
	 	{% if page.title %}
			<h4 class="site-name"><strong>Kevon Cheung</strong></h4>
		{% else %}
			<h1 class="site-name"><strong>Kevon Cheung</strong></h1>
		{% endif %}
	</a>
</nav>