<div class="navi">
	<a href="{{ HOME_PATH }}">
	  <img src="{{ ASSET_PATH }}/images/kevon-2019.jpg" alt="Kevon Cheung" class="avatar">
	</a>

	{% if page.title %}
	<a href="{{ HOME_PATH }}">
		<h4 class="name"><strong>Kevon Cheung</strong></h4>
	</a>
	{% else %}
	<a href="{{ HOME_PATH }}">
		<h1 class="name"><strong>Kevon Cheung</strong></h1>
	</a>
	{% endif %}

	<h5 class="description">I write a newsletter crossing perspectives as a newbie parent 🐣 and a first-time founder 🚀. Startup, product, and growth.</h5>

	<div class="sidebar-subscription">
		<script async data-uid="e610788a6b" src="https://skilled-builder-4437.ck.page/e610788a6b/index.js"></script>
	</div>

	<ul class="navigation">
<!-- 	  <li>{% assign pages_list = site.pages %}</li>
	  <li>{% assign group = 'navigation' %}</li>
	  <li>{% include JB/pages_list %}</li> -->
		<li><a href="/about">Start Here</a></li>
		<li><a href="/archive">Blogging</a></li>
		<li><a href="/speaking">Speaking</a></li>
		<li><a href="/subscribe">Newsletter</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>

</div>