---
sitemap:
  exclude: "yes"
---

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap');

// color schemes
$colorBlack: #302c2b;
$colorGrey: #757374;
$colorPrimary: #588B8B;  // dark green
$colorSecondary: #83AAAA;   // light green
$colorThird: #C05C5C;  // red
//

// bootstrap fix
.row {
  margin-left: 0px;
  margin-right: 0px;
}
//

body {
  font-family: 'Mukta', Lato, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4em;
  text-transform: none;
  p {
    margin: 0 0 20px;
  }
}

.content {
  padding: 20px 10px 0 10px;
  h1, h2, h3, h4, h5, h6 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 28px;
    font-weight: 700;
  }
  h3 {
    font-size: 22px;
    font-weight: 700;
  }
  hr {
    margin: 40px 0 !important;
  }
  .single-post {
    padding: 20px 0;
  }
}


.navi {
  text-align: center;
  a {
    font-family: 'Nunito', Lato, sans-serif;
    font-size: 18px;
    color: $colorBlack;
  }
  .avatar {
    width: 150px;
    height: auto;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  h3, h4 {
    font-family: 'Nunito', Lato, sans-serif;
  }
  .description {
    line-height: 1.2em;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .sidebar-subscription {
    margin-top: 6px;
    margin-bottom: 16px;
    padding: 14px 2px;
    border: 1px dashed $colorSecondary;
    p {
      margin: 0;
      padding: 0 0 4px 0;
    }
  }
  .navigation {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    li {
      position: relative;
      display: block;
      a {
        position: relative;
        display: block;
        padding: 10px 15px;
        text-align: center;
        &:hover {
          color: #888787;
          text-decoration: none;
        }
      }
    }
  }
}

footer {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  color: $colorBlack;
  a {
    color: $colorBlack;
  }
}

// custom container
.container-narrow {
  margin: 0 auto;
  max-width: 860px;
  hr {
    margin: 10px 0;
  }
}

// posts index
ul.posts {
  list-style: none;
  margin-left: -40px;
  li.post {
    padding: 20px 0;
    border-bottom: 1px dashed $colorSecondary;
    &:last-child {
      padding-bottom: 10px;
      border-bottom: 0;
    }
    span.excerpt {
      display: block;
      margin: 20px 0 10px 0;
    }
  }
}

// universal
.site-name {
  font-size: 24px;
  font-family: 'Nunito', Lato, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #302c2b;
}

.see-more {
  text-align: center;
  margin-bottom: 20px;
  a {
    color: $colorGrey;
  }
}

.cta {
  text-align: center;
}

.read-more {
  background-color: #f9e0ae;
  padding: 8px 24px;
  border-radius: 4px;
  margin-top: 20px;
  &:hover {
    background-color: darken(#f9e0ae, 10);
  }
  a {
  color: #333;
  font-weight: 700;
    &:hover {
      color: #333;
      text-decoration: none;
    }
  }
}

.title {
  font-family: 'Nunito', Lato, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.2em;
  color: $colorPrimary;
  margin: 4px 0 !important;
  padding: 0;
  a {
    color: $colorPrimary;
    font-weight: 700;
  }
}

.tagline {
  font-style: italic;
  font-size: 1.2em;
  color: $colorSecondary;
}

.quote {
  font-size: 0.9em;
  color: $colorThird;
}

.author {
  margin-top: 10px;
  margin-bottom: 0;
}

.date {
  font-family: 'Nunito', Lato, sans-serif;
  font-size: 0.8em;
  color: $colorGrey;
  text-transform: uppercase;
}

.full-image {
  width: 100%;
  margin: 20px 0;
}

.img-source {
  font-size: 0.7em;
  text-align: center;
  line-height: 18px;
  margin-top: -18px;
}

.social-icon {
  width: 24px;
  margin: 12px 12px;
  &.linkedin {
    width: 22px;
  }
}

blockquote {
  background: #ffd5c2;
  border-left: 10px solid #BF7F62;
  margin: 20px 0;
  padding: 20px 20px 20px 10px;
  ul {
    margin: 0;
  }
  li {
    margin-top: 10px;
  }
  p {
    display: inline;
  }
}




// post-page
.page-header {
  h1 {
    margin-top: 20px;
  }
  .date {
    margin-bottom: 10px;
  }
}

.post-full {
  padding-top: 24px;
  .post-content {
    img {
      &.full {
        width: 100%;
      }
      &.half {
        width: 50%;
      }
      &.small {
        max-width: 200px;
      }
    }
    .tagline {
      text-align: center;
      margin-bottom: 24px;
    }
  }
}

// tag-box
.tag-boxes {
  margin: 20px 0 0 0;
  font-size: 0.9em;
  .tag-box {
    list-style: none;
    margin-left: -40px;
    overflow: hidden;
    li {
      line-height: 42px;
      span.glyphicon {
        font-size: 1.5em;
        color: $colorBlack;
        margin-right: 10px;
        margin-top: 6px;
      }
    }
    &.inline {
      li {
        float: left;
      }
    }
    a {
      padding: 6px 9px;
      margin: 2px;
      background: lighten($colorSecondary,30);
      color: #555;
      border-radius: 3px;
      text-decoration: none;
      border: 1px dashed #cccccc;
      span {
        vertical-align: super;
        font-size: 0.8em;
      }
      &:hover {
        background-color: lighten($colorSecondary,22);
      }
      &.active {
        background: #57A957;
        border: 1px solid #4c964d;
        color: #FFF;
      }
    }
  }
}

// subscription
.subscription {
  margin: 40px 0;
}

// pagination
.pagination {
  display: flex;
  margin-top: 70px;
  margin-bottom: 50px;
  div.prev_box, div.next_box {
    flex: 1 1 0;
    a {
      display: block;
      color: #000;
      font-family: 'Nunito', Lato, sans-serif;
      &:hover {
        text-decoration: none;
        color: #588b8b;
      }
      &:hover > .icon_next {
        background-image: url("../images/icon_next_hover.png");
      }
      &:hover > .icon_prev {
        background-image: url("../images/icon_prev_hover.png");
      }
    }
    h4 {
      margin: 10px 0;
      line-height: 1.3em;
      font-weight: 700;
    }
    p.date {
      font-size: 0.8em;
    }
  }
  div.prev_box {
    img {
      display: inline-block;
    }
  }
  div.next_box {
    text-align: right;
    img {
      display: inline-block;
    }
  }
  .icon_prev, .icon_next {
    width: 60px;
    height: 60px;
    display: inline-block;
  }
  .icon_prev {
    background-image: url("../images/icon_prev.png");
    background-repeat: no-repeat;
  }
  .icon_next {
    background-image: url("../images/icon_next.png");
    background-repeat: no-repeat;
  }
}

// categories and tags
.categories, .tags {
  padding-top: 4px;
  padding-bottom: 4px;
}

.category-list, .tag-list {
  a {
    color: $colorPrimary;
  }
}

// archive
.archive {
  font-family: 'Nunito', Lato, sans-serif;
  .year {
    color: $colorBlack;
    border-bottom: 1px dashed $colorSecondary;
  }
  ul.posts {
    list-style: none;
    margin-left: -40px;
    margin-bottom: 0;
    li {
      padding-bottom: 10px;
      .post-date {
        width: 10%;
        display: inline-block;
        vertical-align: top;
        margin-top: -4px;
        margin-right: 10px;
        p {
          font-size: 18px;
          text-align: center;
          text-transform: uppercase;
          color: $colorGrey;
          margin: 0;
          padding-top: 4px;
          span {
            font-size: 16px;
            display: block;
          }
        }
      }
      .post-info {
        width: 85%;
        display: inline-block;
        p {
          font-size: 20px;
          font-weight: 700;
          margin: 0;
          a {
            color: $colorPrimary;
          }
        }
        ul.post-cat {
          list-style: none;
          font-size: 16px;
          display: block;
          padding: 2px 0;
          li {
            display: inline;
            a {
              color: #333;
            }
          }
        }
      }
    }
  }
}

// projects (hidden)
#portfolio {
  margin-top: 20px;
  ul {
    list-style-type: none;
  }
}

.workItem {
  margin-bottom: 40px;
  aside {
    padding-right: 50px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    h2 {
      color: #333333;
    }
    h3 {
      font-size: 0.9em;
      margin: 0 0 10px 0;
      a:hover {
        text-decoration: underline;
      }
    }
    p {
      margin-top: 0;
      font-size: 0.9em;
      color: #333333;
    }
  }
  .tags {
    li {
      font-size: 0.9em;
    }
  }
  section {
    padding-right: 50px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    img {
      width: 100%;
      height: auto;
    }
  }
}

/* Share Bar */
#share-bar {
  margin-top: 60px;
  font-size: 20px;
  text-align: center;
  h4 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.3em;
  }
}

/* Each button */
.share-button {
  margin: 0 8px 10px 0;
  border: 1px solid #D3D6D2;
  border-radius: 4px;
  padding: 6px 12px 6px 12px;
  font-family: 'Nunito', Lato, sans-serif !important;
  line-height: 50px;
  i {
    margin-right: 3px;
  }
  &:hover {
    text-decoration: none;
  }
  /* Facebook button */
  &.fb {
      color: #3b5998;
  }
  &.fb:hover {
      background-color: #3b5998;
  }

  /* Twitter button */
  &.tw {
      color: #55acee;
  }
  &.tw:hover {
      background-color: #55acee;
  }

  /* LinkedIn button */
  &.in {
      color: #007bb5;
  }
  &.in:hover {
      background-color: #007bb5;
  }

  /* Email button */
  &.email {
      color: #444444;
  }
  &.email:hover {
      background-color: #444444;
  }
}
.share-button:hover {
  opacity: 1;
  color: #ffffff;
}



#mobileNav {
  display: none;
  .site-name {
    float: left;
    margin-top: 48px;
    margin-left: 50px;
  }
  .subscribe {
    li {
      margin-top: 20px;
      text-align: center;
      padding: 10px 12px;
      background-color: $colorPrimary;
      border-radius: 4px;
      font-size: 0.9em;
      font-weight: 700;
      line-height: 22px;
      color: #fff;
      cursor: pointer;
      &:hover {
        text-decoration: none;
        background-color: lighten($colorPrimary, 5);
      }
    }
  }
}

#menuToggle {
  display: block;
  position: relative;
  float: left;
  // top: 50px;
  // left: 50px;
  margin-top: 50px;
  margin-left: 10px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: $colorPrimary;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: $colorGrey;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}




// responsive
@media screen and (max-width: 767px) {
  body {
    padding: 0 10px;
  }
  .navi {
    display: none;
    .sidebar-subscription {
      margin-bottom: 4px;
    }
    .navigation {
      li {
        display: inline-block;
        a {
          display: inline-block;
        }
      }
    }
  }
  #mobileNav {
    display: block;
  }
}
