<div class="page-header">
  <h1 class="title">{{ page.title }}</h1>
  <span class="date">{{ page.date | date: "%B %-d, %Y" }}</span>
</div>

<div class="post-full">
  <div class="post-content">
    {% if page.tagline %}
      <h5 class="tagline">"{{page.tagline}}"</h5>
    {% endif %}
    {{ content }}
    <div class="subscription">
    	<script async data-uid="fca4203871" src="https://skilled-builder-4437.ck.page/fca4203871/index.js"></script>
    </div>
  </div>

  <div class="pagination">
    {% if page.previous %}
      <div class="prev_box">
        <div class="prev">
          <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">
            <div class="icon_prev"></div>
            <h3>{{ page.previous.title }}</h3>
            <p class="date">{{ page.previous.date | date: "%B %-d, %Y" }}</p>
          </a>
        </div>
      </div>
    {% endif %}

    {% if page.next %}
      <div class="next_box">
        <div class="next">
          <a href="{{ page.next.url }}" title="{{ page.next.title }}">
            <div class="icon_next"></div>
            <h3>{{ page.next.title }}</h3>
            <p class="date">{{ page.next.date | date: "%B %-d, %Y" }}</p>
          </a>
        </div>
      </div>
    {% endif %}
  </div>

  {% include JB/comments %}
</div>
